.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  display: list-item;
  list-style-type: none;
}

.dropdown-content {
  background-color: #f9f9f9;
  min-width: 100px;
  max-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}
.dropdown:hover {
  display:block;
  background-color: antiquewhite;
}
.line {
  display: inline;
}
.work-area {
    width: 80%;
    height: 50vh;
    box-sizing: content-box;
    border: 2px solid rgb(13, 17, 13);
    
    margin: 20px;
    margin-left: 10%;
    align-items: center;
    text-align: center;
}

.user-text-area {
  width: 550px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #000;
  border: 1px solid transparent;
}


.Font {
  font-family: "Courier New", monospace;
}
.Monaco {
  font-family: "monaco", Consolas, Lucida Console, monospace;;
}
.Menlo {
  font-family: "menlo", monospace;
}
.Arial {
  font-family: Arial, sans-serif;
}
.Lucida-Console {
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.color {
  color: red;
}

.background {
  width: 400px;
  height: 200px;
  border: 1px solid blue; 
}