.App {
  text-align: center;
  background-color: rgb(217, 209, 209);
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  display: list-item;
  list-style-type: none;
}

.dropdown-content {
  background-color: #f9f9f9;
  min-width: 100px;
  max-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover {
  display:block;
  background-color: antiquewhite;
}

.work-area {
    width: 80%;
    height: 50vh;
    box-sizing: content-box;
    border: 2px solid rgb(13, 17, 13);
    margin: 20px;
    margin-left: 10%;
    align-items: center;
    text-align: center;
}

.nav {
  display: inline;
  margin: 1%;
}

.Font {
  font-family: "Courier New", monospace;
}

.Monaco {
  font-family: "monaco", Consolas, Lucida Console, monospace;;
}

.Menlo {
  font-family: "menlo", monospace;
}

.Arial {
  font-family: Arial, sans-serif;
}

.Lucida-Console {
  font-family: Lucida Console,Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
}

.color {
  color: red;
}
.text-container {
  position: relative;
  margin: auto;
  width: 500px;
  height: 400px;
  background-image: linear-gradient(to bottom right, red , yellow);
}

.red-blue {
  background-image: linear-gradient(to bottom right, rgb(238, 55, 55) , rgb(67, 59, 235));
}

.green-yellow {
  background-image: linear-gradient(to bottom right, rgb(75, 196, 45) , rgb(245, 245, 52));
}

.orange-purple {
  background-image: linear-gradient(to bottom right, rgb(255, 145, 0) , rgb(183, 0, 255));
}

.blue-green {
  background-image: linear-gradient(to bottom right, rgb(8, 4, 202) , rgb(48, 160, 4));
}

#myCode {
  z-index: 1;
}

#text-area {
  position: absolute;
  top: 10%;
  left: 8%;
  background-color: transparent;
  color: transparent;
  caret-color: white;
  z-index: 1;
  border: none;
  width: 403px;
  top: 40px;
  left: 58px;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  line-height: 15pt;
  font-size: 10pt;
  white-space: nowrap; 
  overflow: auto;
}

#highlighting {
  z-index: 0;
  background-color: #404f49;
  width: 380px;
  opacity: 90%;
  top: 20px;
  left: 45px;
  line-height: 10pt;
  font-size: 10pt;
}

#text-area, #highlighting {
  tab-size: 2;
  position: absolute;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  resize: none;
  border-radius: 10px;
}

@media only screen and (max-width: 500px) {
  #text-area {
    top: 14%;
    left: 9%;
  }
  #highlighting {
    top: 8%;
    left: 6%;
  }
}





