.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  align-content: center;
  display: list-item;
  list-style-type: none;
}

.dropdown-content {
  background-color: #f9f9f9;
  min-width: 100px;
  max-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover {
  display:block;
  background-color: antiquewhite;
}
